.ParticipantCard {
  background-color: #ececec;
  box-shadow: 7.5px 0px 10px rgba(0, 0, 0, 0.1),
    -7.5px 0px 10px rgba(0, 0, 0, 0.1);
  height: 64vh;
  width: 86vw;
  padding: 2vh 2vw 0 2vw;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 2fr 1.5fr 0.5fr 2fr;
  grid-template-areas:
    "image"
    "title"
    "donate"
    "story"
    "participating-for"
    "charity";
}

.ParticipantCard-image {
  box-shadow: 7.5px 0px 10px rgba(0, 0, 0, 0.1),
    -7.5px 0px 10px rgba(0, 0, 0, 0.1);
  grid-area: image;
  width: 20vh;
  height: 20vh;
  margin: 0 auto;
}

.ParticipantCard-title {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vh;
}

.ParticipantCard-donate {
  grid-area: donate;
}

.ParticipantCard-story {
  grid-area: story;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.75vh;
}

.participating-for {
  grid-area: participating-for;
  font-size: 2vh;
}

.charity-logo {
  grid-area: charity;
  box-shadow: 7.5px 0px 10px rgba(0, 0, 0, 0.1),
    -7.5px 0px 10px rgba(0, 0, 0, 0.1);
  width: 10vh;
  height: 10vh;
  margin: 0 auto;
}

.charity-logo:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 100ms ease-in;
}
